{% extends 'base.html' %}
{% load static %}
{% load filters %}
{% load crispy_forms_tags %} 

{% block title %}
Transaction Details
{% endblock title %}

{% block css_files %}
<link rel='stylesheet' href='{% static 'client_portal/dashboard.css' %}'>
{% endblock css_files %}

{% block content %}
<div id="main-wrapper">
    {% include 'includes/header.html' %}
    {% include 'includes/sidebar.html' with bdm_email=bdm_email%}
    <div class="page-wrapper" style="background-color: #f7f7fa;">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-titles new-template">
            <div class="row">
                <div class="col-lg-8 col-md-6 col-12 align-self-center">
                    <div>
                        <a href="/" class="link current-page-name"><i data-feather="arrow-left"></i></i></a> 
                        <span href="/password_change/" class="link current-page-name">Change Password</span>
                    </div>
                    <div style="padding-left: 50px;" class="hide-in-mobile-view">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0 d-flex align-items-center">
                                <li class="breadcrumb-item" style="padding-right: 0.5rem;"><a href="/" class="link">Dashboard</a></li> 
                                | <li class="breadcrumb-item active" style="color: #384364; font-weight: 600;" aria-current="page">Change Password</li>
                            </ol>
                        </nav>
                    </div>           
                </div>
               
            </div>
        </div>

        {% include 'client_portal/partials/messages.html' %}

        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- -------------------------------------------------------------- -->
            <!-- Start Page Content -->
            <!-- -------------------------------------------------------------- -->
            {% if error %} 
                {{ error }}
            {% else %}
                <div class="row">
                    <div class="col-12 transacions-page change-password-desktop" style="">
                        <div class="card" style="">
                            <div class="card-body">
                                <h2 class="confirm-reset-password-title">Confirm Reset Password</h2>
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                                            <button type="button" class="close" data-bs-dismiss="alert" aria-label="close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            {{ message | safe }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                {% if form.errors %}
                                    <div class="alert alert-danger">
                                        {% for field, error in form.errors.items %}
                                            {% if field != '__all__' %}{{ field }}{% endif %}
                                            {{ error | striptags }}
                                        {% endfor %}
                                    </div>
                                {% endif %} 
                                <form class="form-horizontal mt-4 pt-4 needs-validation" method="POST">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <div class="form-group">
                                        <button class="btn btn-lg px-4 reset-password-buton" type="submit">Update Password</button>
                                    </div>  
                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <!-- -------------------------------------------------------------- -->
            <!-- End Page Content -->
            <!-- -------------------------------------------------------------- -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->

        {% include 'includes/footer.html' with bdm_email=bdm_email %}
    </div>
</div>
{% include 'includes/footer_scripts.html' %}
{% endblock content %}